# ==================================== #
# POSTGRES
# ==================================== #
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# ==================================== #
# THUMBNAIL WORKER
# ==================================== #
REDIS_HOST=redis
REDIS_PORT=6379
FILE_DIRECTORY=/c/Users/carlo/appfiles

# ==================================== #
# SPRING BOOT
# ==================================== #
DB_HOST=postgres
DB_NAME=db
DB_PASSWORD=password
DB_PORT=5432
DB_USERNAME=user
FILE_DIRECTORY=/c/Users/carlo/appfiles
JWT_EXPIRATION=3600000
JWT_SECRET=cfd7637c642759d91e8b7348f95545e6aa387a0b7780e6ec058e781d1d2b887e
SPRING_PROFILES_ACTIVE=dev
APP_LOGGING_LEVEL=INFO
REDIS_HOST=redis
REDIS_PORT=6379
CORS_ORIGIN=http://frontend:80