version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: singlevendor_postgres
    restart: always
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - singlevendor_network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: singlevendor_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - singlevendor_network

volumes:
  postgres_data:

networks:
  singlevendor_network:
    driver: bridge
