version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: singlevendor_postgres
    restart: always
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - singlevendor_network

volumes:
  postgres_data:

networks:
  singlevendor_network:
    driver: bridge
